* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 10px 0;
  text-align: center;
  color: #2786FF;
}

#container {
  height: 500px;
  background-color: #2786FF;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
